@import 'reset.css';
@import 'center.scss';
@import 'elementTable.scss';

/**
 * 默认尺寸为 600px×400px，如果想让图表响应尺寸变化，可以像下面这样
 * 把尺寸设为百分比值（同时请记得为容器设置尺寸）。
 */
.echarts {
  width: 100% !important;
  height: 100% !important;
}


:not(:root):-webkit-full-screen::backdrop {
  position:static !important;
  transform: none !important;
  background: transparent !important;
}

:-webkit-full-screen:not(:root) {
  width: 600px !important;
  position: static !important;
  object-fit:none !important;
}

:-moz-full-screen:not(:root) {
  width: 100% !important;
  float: none !important;
}
